### Pandas DataFrames


Um **Pandas DataFrame** é uma estrutura de dados bidimensional fornecida pela biblioteca Pandas em Python, semelhante a uma tabela em uma base de dados ou a uma planilha. Aqui estão os principais pontos sobre os DataFrames:

1. **Estrutura de Tabela**: Um DataFrame é composto de linhas e colunas. Cada coluna pode conter um tipo diferente de dado (números, strings, datas, etc.), similar a uma tabela de dados.

2. **Criação**: Você pode criar um DataFrame a partir de várias fontes, como listas de dicionários, arrays do NumPy, arquivos CSV, bases de dados SQL, entre outros.

3. **Rotulação**: As linhas e colunas de um DataFrame têm rótulos (índices e nomes de colunas), o que facilita o acesso e a manipulação dos dados.

4. **Manipulação e Análise**: DataFrames suportam uma vasta gama de operações para filtrar, agrupar, transformar e resumir dados. Isso facilita a análise e a preparação de dados para outras tarefas.

5. **Integração**: Os DataFrames são bem integrados com outras bibliotecas do ecossistema de ciência de dados em Python, como NumPy, Matplotlib e Scikit-learn.

Resumindo, um Pandas DataFrame é uma ferramenta poderosa e versátil para armazenar, manipular e analisar dados tabulares, sendo fundamental para a análise de dados em Python.

In [36]:
import pandas as pd

In [37]:
# Cria um dicionário com autores, preços e títulos

dictionary = {'Autores': ['Rick Riordan', 'J . R. R Tolkien', 'Rick Riordan', 'Machado de Assis'],
            'Titulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Postumas de Brás Cubas'],
            'Preços': [41.2, 35.7, 39.5, 40.5]}

In [38]:
# DataFrame

df = pd.DataFrame(dictionary)

df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J . R. R Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5

In [39]:
df['Autores']

0        Rick Riordan
1    J . R. R Tolkien
2        Rick Riordan
3    Machado de Assis
Name: Autores, dtype: object

In [40]:
df['Autores'][1]

'J . R. R Tolkien'

In [41]:
df['Preços'].mean()

39.225

In [42]:
mascara = (df['Autores'] == 'Rick Riordan')

In [43]:
print(mascara)

df[mascara]

0     True
1    False
2     True
3    False
Name: Autores, dtype: bool

        Autores            Titulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [44]:
# Novo dado a ser adicionado
novo_livro = pd.DataFrame([{'Autores': 'Rick Riordan', 'Titulos': 'A Maldiçã do Titã', 'Preços': 40.20}])

# Usando concat para adicionar a nova linha
df = pd.concat([df, novo_livro], ignore_index=True)

df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J . R. R Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan                A Maldiçã do Titã    40.2

In [45]:
mascara_correcao = df['Titulos'] == 'A Maldiçã do Titã'

In [47]:
df.loc[mascara_correcao, 'Titulos'] = 'A Maldição do Titã'

In [48]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J . R. R Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A Maldição do Titã    40.2

#### Exercícios de Fixação

**Questão 1**
A lista da Billboard Hot 100 traz as 100 músicas mais populares da semana, com nome da música, artista, posição na última semana, posição na semana atual e semanas consecutivas na lista.
Você extraiu esses dados para o dataframe 'billboard_100', que contem as colunas 'artista' e 'musica', e diversos outros dados que você deseja análisar. Como pode fazer para visualizar os nomes das músicas da Taylor Swift contidas na Billboard Hot 100 da semana? (apenas os nomes).

R: **billboard_100[billboard_100['artista'] == 'Taylor Swift']['musica']**

In [50]:
# import pandas as pd

# # Supondo que você tenha o DataFrame 'billboard_100' com os dados da Billboard Hot 100

# # Filtrando as músicas da Taylor Swift e selecionando apenas os nomes das músicas
# musicas_taylor_swift = billboard_100[billboard_100['artista'] == 'Taylor Swift']['musica']

# # Exibindo os nomes das músicas da Taylor Swift
# print(musicas_taylor_swift)

**Questão 2**
Roberto trabalha com controle de estoque de uma loja de roupas e precisa fazer registros diários no dataframe de produtos, constando código, nome do produto, quantidade em estoque, tamanho e preço.
Um dia, chegaram 5 unidades de 'camiseta azul de algodão', tamanho M, vendida por R$60,00 e com código 11.
Porém, esse produto ainda não constava no inventário de estoque. Como Roberto pode adicioná-lo ao dataframe de dados?

R: **Com o comando produtos.append(11, 'camiseta azul de algodão', 5, 'M', 60.00)**

In [ ]:
#produtos = produtos.append({'código': 11, 'nome': 'camiseta azul de algodão', 'quantidade': 5, 'tamanho': 'M', 'preço': 60.00}, ignore_index=True)